body {
      margin: 0;
      font-family: Arial, sans-serif;
      padding: 0;
      line-height: 1.6;
      background-color: #f9f9f9;
      color: #222;
    }

    .header {
      background-color: #2b2b2b;
      color: white;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .menu-btn {
      font-size: 50px;
      cursor: pointer;
    }

    .title {
      font-weight: bold;
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.2;
      flex-grow: 1;
    }

    .menu {
      position: absolute;
      top: 60px;
      left: 20px;
      background-color: #444;
      padding: 10px;
      border-radius: 8px;
    }

    .menu a {
      display: block;
      color: white;
      padding: 10px;
      border-radius: 5px;
    }

    .menu a:hover {
      background-color: #666;
    }

    section {
      padding: 20px;
      max-width: 900px;
      margin: auto;
    }

    h2 {
      font-size: 48px;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin-bottom: 15px;
    }

    .image-box {
      text-align: center;
      margin: 20px 0;
    }

    .image-box img {
      max-width: 100%;
      border-radius: 8px;
    }

    strong {
      font-weight: bold;
    }

      
    
